[submodule "lib/setImmediate"]
	path = lib/setImmediate
	url = https://github.com/YuzuJS/setImmediate.git
[submodule "lib/promise"]
	path = lib/promise
	url = https://github.com/taylorhakes/promise-polyfill.git
[submodule "lib/Mat"]
	path = lib/Mat
	url = git@git.coding.net:luojia/Mat.js.git
